
#slideout2 {
          z-index: 200;
          position: fixed;
          top: 350px;
          right: 0;
          width: 35px;
          padding: 12px 0;
          text-align: center;
          background: #E7E3E4;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          }
#slideout_inner2 {
          z-index: 200;
          overflow-y: auto;
          color: #555050;
          position: fixed;
          top: 350px;
          right: -250px;
          background: #E7E3E4;
          width: 200px;
          padding: 25px;
          max-height: 360px;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          text-align: left;
          -webkit-border-radius: 0 0 05px;
          -moz-border-radius: 0 0 0 5px;
          border-radius: 0 0 0 5px;
          }
#slideout_inner2 textarea {
          width: 190px;
          height: 100px;
          margin-bottom: 6px;
          }
#slideout2:hover {
          right: 250px;
          }
#slideout2:hover #slideout_inner2 {
          right: 0;
          }